@charset "utf-8";

		* {margin:0; padding:0; box-sizing:border-box;}
		html {scroll-behavior:smooth;}
		html, body{font:16pt/120% 'Nanum Gothic', sans-serif; color:black; }
		img{max-width:100%;}
		a{text-decoration:none; color:black;}
		
		
		
		header{width:100%; height:140px; top:0; left:0; right:0; background:#fcf6ca; border:5px solid black; position:fixed; z-index:2;}
		header.pink{height:110px; background:#f3d3d6;}
		#header-nav{width:1600px; margin:auto;  position:relative; border:0px solid blue; }
		header h1{ padding:10px 30px; text-align:center;}
		header h1 img {width:180px;}
		#big-logo{margin-left:530px; display:none;}
		#big-logo img{width:450px; }
		#header-nav>div:first-of-type{display:flex; align-items:center; border:0px solid blue; }
		#header-nav>div:first-of-type button{border:none; background:none; padding:10px; font-size:6.5rem; margin-top:-110px; display:none;}
		
		#pc_ver {display:flex; padding: 15px 30px; margin-left:220px; flex:4; border:0px solid blue; }
		#pc_ver>div{flex:1; width:100%; position:relative;}
		.upper{font-family: 'Slabo 27px', serif; font-size:1.3rem; }
		.sub{ position:absolute; top:60px; left:0px; z-index:2; width:100%; height: 250px; line-height:120%; display:none;}
		
		.sub>a{display:block; color:#fcf6ca; border:0px solid white;  font-size:12pt; padding-right:30px; transition:0.6s; padding-bottom:16px;}
		.sub>a:hover{color:white; font-weight:bold; text-decoration:underline;}
		.sub>a.chan{color:#f3d3d6;}
		
		#black		{background:black;  position:absolute; z-index:1; height:230px; width:110%; left:-80px; display:none; top:132px;}
		#black.scrol {top:100px; height:300px;}
		
		
		#phone_ver{display:none; position:absolute; width:100%; top:230px; height:1500px; background:black; line-height:500%; padding:10px 40px; left:-8px; }
		#phone_ver.exc{ top:200px; }
		
		#phone_ver a{ font-family: 'Slabo 27px', serif; display:block;}
		.above {border-bottom:1px solid #fcf6ca; padding:16px 80px; font-size:4rem; color:#fcf6ca; font-family: 'Slabo 27px', serif; }
		.above.exc1{border-bottom:1px solid #f3d3d6; color:#f3d3d6;}
		.last{border:none;}
		
		#phone_ver>div>nav { display:none; }
		#phone_ver>div>nav>a{font-size:3rem; color:black; background: #fcf6ca; padding:20px 80px; }
		#phone_ver>div>nav>a.exc2{ background:#f3d3d6; }
		#phone_ver>div>nav>a:not(:last-child){border-bottom:1px dashed black;}
		
		#fade-img {margin:auto; height:800px; margin-top:140px;}
		#fade-img>div{margin:auto; width:1600px; position:relative;  }
		#fade-img>div>img{max-width:100%; display:block; position:absolute; top:0; left:0;}
		
		#fade-img button{border:none; background:none; position:absolute; top:440px;}
		.right{right:20px;}
		.left{left:20px;}
		#rectang {margin:auto; position:absolute; display:flex; top:600px; left:640px;}
		#rectang div{width:90px; height:10px; margin-right:30px; border:1px solid gray; background:rgba(255,255,255,0.6);}
		#rectang>div.bk{background:black;}
		
		#icons {display:flex; margin:auto; transform:translateX(-30px);}

		#icons a{font-size:1.5rem; margin-right:7px;}
		#icons span{font-size:1.5rem; margin-right:7px;}
		
		#search{position:absolute; top:135px; left:0; height:200px; width:100%; background:white; padding:60px 120px; box-shadow:2px 4px 6px rgba(0,0,0,0.5);  z-index:3;  display:none;}
		#close_x{position:absolute; top:10px; left:1530px; color:gray;}
		#search span{font-size:2rem; transform:translateY(20px);}
		#search input{border:none; border-bottom:2px solid gray; width:1100px; height:60px; margin-left:20px;}
		#search a{background:black; color:white; padding:13px 25px; margin-left:30px; margin-top:0px;}
		#search.mov{position:absolute; top:105px; left:0;}
		
		
		#layout{width:1600px; margin:auto; position:relative; margin-top:140px;  margin-bottom:200px;}
		
		#my_i1{color:#0e0e0e; background:#eee; padding:70px 130px; line-height:170%; text-align:center; border-bottom:3px solid black;}
		#shipping b{color:white; background:black; padding:20px 40px; font-size:1.2rem;}
		#shipping span{transform:translate(15px, 0px) scale(1.7);  }
		#shipping p{font-size:1.4rem;}
		#shipping mark	{background:tomato;}
		
		#log_in{display:flex; padding:90px 100px; height:650px; }
		#log_in>div:first-of-type{flex:1.3; border-right:1px solid gray; padding:30px; margin-right:30px; }
		#log_in>div:first-of-type>div{display:flex; padding:20px 60px; }
		#log_in>div:first-of-type>div>b{flex:0.4;}
		#log_in>div:first-of-type>div>input{flex:1.2;}
		#log_in>div:first-of-type>a:first-of-type{padding:15px 32px; background:black; color:white; font-size:1.2rem; margin:30px 30px 30px 420px;  width: 140px; display:block;}
		#log_in>div:first-of-type>p> a{padding:15px; color:tomato; font-weight:bold; }
		
		
		#log_in>div:last-of-type{flex:1; padding:50px 100px; background:#eee;}
		#log_in>div:last-of-type>h3{margin-bottom:30px;}
		#log_in>div:last-of-type>h3>span{font-size:1.6rem; float:right;}
		#log_in>div:last-of-type p {line-height:170%;}
		#log_in>div:last-of-type a{border:1px solid black; display:block; text-align:center; padding:10px; background:white; font-weight:bold; transition:0.5s;}
		#log_in>div:last-of-type a:hover{background:black; color:white;}
		
		#below{display:flex; align-items:center; margin-top:100px; }
		#below div:first-child{width:600px; height:600px; background:#eee; animation:color-c 5s infinite linear; }
		@keyframes color-c {
			0%{background:#eee;}
			40%{background:#f0ddd5;}
			60%{background:#f0ddd5;}
			100%{background:#eee;}
			
		}
		
		#below div:first-child>p{padding:160px 90px 0px 90px; text-align:center; line-height:190%; font-weight:bold; font-size:18pt;  width:600px; height:600px; background:linear-gradient(to right,gray,tomato); -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
		#below div:last-child{background:url("../images/best1.png")no-repeat center/cover; width:860px; height:440px; margin-left:100px; padding:50px;}
		#below div:last-child>a{ color:tomato; font-weight:bold; margin:0px 0 0 345px; font-size:1.3rem;}
		#below div:last-child>button{padding:10px 20px; border-radius:none; background:white; color:black; font-size:0.75rem; border:1px solid gray; margin-top:30px; margin-left:440px}
		
		
		footer{ padding:40px 230px; width:100%; /*border:5px solid black;*/ line-height:190%; background:#f3d3d6; font-weight:bold; font-size:12pt; margin:auto; text-align:center;}
		footer img{margin-bottom:30px; margin-left:40px;}
		footer a{color:tomato; margin-left:90px; font-weight:600;}
		footer p{margin-left:120px;}
		
		#goTop{height:70px; width:70px; background:black; padding:25px 10px 10px 10px; border-radius:50%; position:fixed; right:15px; bottom:15px; line-height:100%; opacity:0.8; z-index:3; right:20px; bottom:20px}
		#goTop p{text-align:center; color:#f3d3d6; font-size:0.9rem; font-weight:bold;}
		
		
		/* 여기서부터 반응형*/
		@media(max-width:1600px){
		footer{ padding:40px 100px; width:1600px;}
		
		}
		
		
		@media(max-width:600px){
		header{height:240px;}
		header.pink{height:140px; background:#f3d3d6;}
		#pc_ver{display:none;}
		#header-nav>div:first-of-type {margin-top:-95px;}
		#header-nav>div:first-of-type button{display:block; }
		header h1 img{display:none;}
		#big-logo{display:block; margin-top:30px; z-index:4;  position:relative; width:450px; }
		#icons{margin-top:-90px; margin-left:1100px; }
		#icons a{font-size:4.8rem; margin-right:7px;} 
		#icons span{font-size:4.8rem; margin-right:7px;}
		
		.pc-i{display:none;}
		.mobi{display:block; width:150px; position:absolute; left:60px; top:80px; transform:rotate(-20deg);}
		#step3>img:nth-child(2){left:1180px; top:350px; width:300px; z-index:1; position:absolute;  }
		#goTop{height:120px; width:120px;  padding:50px 10px 10px 10px; }
		#goTop p{font-size:1.8rem; }
		
		#search{position:absolute; top:235px; left:-10px;height:260px; padding-top:100px;}
		#search span{font-size:3.7rem; transform:translateY(35px);}
		#search input{border:none; border-bottom:2px solid gray; width:950px; height:95px; margin-left:20px;}
		#search a{background:black; color:white; padding:17px 28px; margin-left:30px; margin-top:-10px; font-size:1.7rem; }
		#close_x{position:absolute; top:10px; left:1480px; color:gray;}
		#search.mov{position:absolute; top:135px; left:-10px;}
		::-webkit-input-placeholder {font-size:2rem;}
		
		#layout{margin-top:250px;}
		#shipping {line-height:250%;}
		#shipping h2{font-size:3rem;}
		#shipping b{font-size:3rem;}
		#shipping p{font-size:3rem;}
		#shipping span{font-size:3rem;}
		#shopbag{flex-direction:column;}
		#shopbag>div:first-of-type{border:none;}
		#shopbag>div:first-of-type h2{font-size:3.7rem; padding:60px 10px;}
		#shopbag>div:first-of-type p{font-size:2.7rem;}
		#shopbag>div:first-of-type a{font-size:3.7rem; margin-left:370px;}
		#shopbag>div:last-of-type {margin-top:70px;}
		#shopbag>div:last-of-type>h3{font-size:3.6rem; margin-bottom:80px;}
		#shopbag>div:last-of-type>h3>span{font-size:4rem;}
		#shopbag>div:last-of-type p{font-size:3rem; line-height:200%;}
		#shopbag>div:last-of-type p span{font-size:3rem;}
		#shopbag>div:last-of-type a{padding:55px;font-size:3rem; }
		
		
		
		#below{flex-direction:column; margin-top:1150px; }
		#below div:first-child {border-radius:0; width:1000px; height:1000px; margin-bottom:70px;}
		#below div:first-child p{font-size:2.2rem; width:1000px; height:1000px; padding:190px 70px;}
		#below div:last-child{background:url("../images/best.png")no-repeat center/cover; width:1200px; height:614px; margin-left:00px; padding:90px;}
		#below div:last-child>a{ color:tomato; font-weight:bold; margin:130px 0 0 70px; font-size:3.3rem;}
		#below div:last-child>button{padding:10px 20px; border-radius:none; background:#ddd; color:black; font-size:2.5rem; border:1px solid gray; margin-top:60px; margin-left:100px}
		}
		
		@media(max-width:397px){
		
		#big-logo{display:block; margin-left:570px; }
		#icons{transform:translateX(-130px);}
		#search input{border:none; border-bottom:2px solid gray; width:800px; height:95px; margin-left:20px;}
		#close_x{position:absolute; top:10px; left:1300px; color:gray;}
		}
		
		@media(max-width:370px){
		
		#big-logo{display:block; margin-left:440px; }
	
		#icons{transform:translateX(-310px);}
		#search input{border:none; border-bottom:2px solid gray; width:550px; height:95px; margin-left:10px;}
		#close_x{position:absolute; top:10px; left:1000px; color:gray;}
		#shipping {text-align:left;}
		#shipping h2{font-size:2.5rem;}
		#shipping b{font-size:2.5rem;}
		#shipping p{font-size:2.5rem;}
		#shipping span{font-size:2.5rem;}
		#shopbag>div:first-of-type h2{font-size:3rem; padding:60px 10px;}
		#shopbag>div:first-of-type p{font-size:2rem;}
		#shopbag>div:first-of-type a{font-size:3rem; margin-left:0px;}
		#shopbag>div:last-of-type {margin-top:70px; width:930px}
		#shopbag>div:last-of-type>h3{font-size:2rem; margin-bottom:80px;}
		#shopbag>div:last-of-type>h3>span{font-size:2rem;}
		#shopbag>div:last-of-type p{font-size:2rem; line-height:200%;}
		#shopbag>div:last-of-type p span{font-size:2rem;}
		#shopbag>div:last-of-type a{padding:55px; font-size:3rem; }
		#below {border:0px solid red; margin-left:-400px;}
		#below div:first-child {border-radius:0; width:1000px; height:1000px; margin-bottom:70px; margin-left:0;}
		#below div:first-child p{font-size:2.2rem; width:1000px; height:1000px; padding:190px 70px;}
		}
		
		
		@media(max-width:322px){
		
		#big-logo{display:block; margin-left:280px; }
	
		#icons{transform:translateX(-490px);}
		}
