@charset "utf-8";

		* {margin:0; padding:0; box-sizing:border-box;}
		html {scroll-behavior:smooth;}
		html, body{font:16pt/120% 'Nanum Gothic', sans-serif; color:black; }
		img{max-width:100%;}
		a{text-decoration:none; color:black;}
		
		
		
		header{width:100%; height:140px; top:0; left:0; right:0; background:#fcf6ca; border:5px solid black; position:fixed; z-index:2;}
		header.pink{height:110px; background:#f3d3d6;}
		#header-nav{width:1600px; margin:auto;  position:relative; border:0px solid blue; }
		header h1{ padding:10px 30px; text-align:center;}
		header h1 img {width:180px;}
		#big-logo{margin-left:530px; display:none;}
		#big-logo img{width:450px; }
		#header-nav>div:first-of-type{display:flex; align-items:center; border:0px solid blue; }
		#header-nav>div:first-of-type button{border:none; background:none; padding:10px; font-size:6.5rem; margin-top:-110px; display:none;}
		
		#pc_ver {display:flex; padding: 15px 30px; margin-left:220px; flex:4; border:0px solid blue; }
		#pc_ver>div{flex:1; width:100%; position:relative;}
		.upper{font-family: 'Slabo 27px', serif; font-size:1.3rem; }
		.sub{ position:absolute; top:60px; left:0px; z-index:2; width:100%; height: 250px; line-height:120%; display:none;}
		
		.sub>a{display:block; color:#fcf6ca; border:0px solid white;  font-size:12pt; padding-right:30px; transition:0.6s; padding-bottom:16px;}
		.sub>a:hover{color:white; font-weight:bold; text-decoration:underline;}
		.sub>a.chan{color:#f3d3d6;}
		
		#black		{background:black;  position:absolute; z-index:1; height:230px; width:110%; left:-80px; display:none; top:132px;}
		#black.scrol {top:100px; height:300px;}
		
		
		#phone_ver{display:none; position:absolute; width:100%; top:230px; height:1500px; background:black; line-height:500%; padding:10px 40px; left:-8px; }
		#phone_ver.exc{ top:200px; }
		
		#phone_ver a{ font-family: 'Slabo 27px', serif; display:block;}
		.above {border-bottom:1px solid #fcf6ca; padding:16px 80px; font-size:4rem; color:#fcf6ca; font-family: 'Slabo 27px', serif; }
		.above.exc1{border-bottom:1px solid #f3d3d6; color:#f3d3d6;}
		.last{border:none;}
		
		#phone_ver>div>nav { display:none; }
		#phone_ver>div>nav>a{font-size:3rem; color:black; background: #fcf6ca; padding:20px 80px; }
		#phone_ver>div>nav>a.exc2{ background:#f3d3d6; }
		#phone_ver>div>nav>a:not(:last-child){border-bottom:1px dashed black;}
		
		
		
		#icons {display:flex; margin:auto; transform:translateX(-30px);}

		#icons a{font-size:1.5rem; margin-right:7px;}
		#icons span{font-size:1.5rem; margin-right:7px;}
		
		#search{position:absolute; top:135px; left:0; height:200px; width:100%; background:white; padding:60px 120px; box-shadow:2px 4px 6px rgba(0,0,0,0.5);  z-index:3; display:none;}
		#close_x{position:absolute; top:10px; left:1530px; color:gray;}
		#search span{font-size:2rem; transform:translateY(20px);}
		#search input{border:none; border-bottom:2px solid gray; width:1100px; height:60px; margin-left:20px;}
		#search a{background:black; color:white; padding:13px 25px; margin-left:30px; margin-top:0px;}
		#search.mov{position:absolute; top:105px; left:0;}
		
		
		#layout{width:1400px; margin:auto; position:relative; margin-top:130px;  margin-bottom:200px;}
		
		
		#layout>div{display:flex; padding:100px 70px;}
		#detail1{flex:0.9; display:flex; align-items:center;}
		#small{display:flex; flex-direction:column; margin-right:60px;}
		#small button{background:none; border:none; }
		#small button>img{padding:10px;}
		section{position:relative; padding-top:50px;}
		section>p:first-of-type{border-bottom:1px solid #ddd; padding-bottom:30px;}
		section>s{font-size:0.7rem; color:gray;}
		section>p>span{font-size:0.6rem; color:tomato; padding-right:13px; font-weight:bold;}
		section>span{font-size:0.7rem; color:gray;}
		section>a{background:black; color:white; padding:10px 20px;  font-weight:bold;   transition:0.6s; display:block; text-align:center;}
		#numb{padding:10px; display:flex; align-items:center; border:0px solid gray; position:absolute; top:250px; left:370px; }
		#numb button{background:none; border-radius:none; width:40px; height:40px; font-size:1.5rem;}
		#numb input{width:50px;  height:40px; text-align:center; font-size:1rem;}
		#layout>img{margin-left:300px;}
		
		
		
		footer{ padding:40px 230px; width:100%; /*border:5px solid black;*/ line-height:190%; background:#f3d3d6; font-weight:bold; font-size:12pt; margin:auto; text-align:center;}
		footer img{margin-bottom:30px; margin-left:40px;}
		footer a{color:tomato; margin-left:90px; font-weight:600;}
		footer p{margin-left:120px;}
		
		#goTop{height:70px; width:70px; background:black; padding:25px 10px 10px 10px; border-radius:50%; position:fixed; right:15px; bottom:15px; line-height:100%; opacity:0.8; z-index:3; right:20px; bottom:20px}
		#goTop p{text-align:center; color:#f3d3d6; font-size:0.9rem; font-weight:bold;}
		
		
		/* 여기서부터 반응형*/
		@media(max-width:1600px){
		footer{ padding:40px 100px; width:1600px;}
		
		}
		
		
		@media(max-width:600px){
		
		header{height:240px;}
		header.pink{height:140px; background:#f3d3d6;}
		#pc_ver{display:none;}
		#header-nav>div:first-of-type {margin-top:-95px;}
		#header-nav>div:first-of-type button{display:block; }
		header h1 img{display:none;}
		#big-logo{display:block; margin-top:30px; z-index:4;  position:relative; width:450px; }
		#icons{margin-top:-90px; margin-left:1100px; }
		#icons a{font-size:4.8rem; margin-right:7px;} 
		#icons span{font-size:4.8rem; margin-right:7px;}
		
		#goTop{height:120px; width:120px;  padding:50px 10px 10px 10px; }
		#goTop p{font-size:1.8rem; }
		
		#search{position:absolute; top:235px; left:-10px;height:260px; padding-top:100px;}
		#search span{font-size:3.7rem; transform:translateY(35px);}
		#search input{border:none; border-bottom:2px solid gray; width:950px; height:95px; margin-left:20px;}
		#search a{background:black; color:white; padding:17px 28px; margin-left:30px; margin-top:-10px; font-size:1.7rem; }
		#close_x{position:absolute; top:10px; left:1480px; color:gray;}
		#search.mov{position:absolute; top:135px; left:-10px;}
		::-webkit-input-placeholder {font-size:2rem;}
		}
		
		@media(max-width:397px){
		
		
		#big-logo{display:block; margin-left:570px; }
		#icons{transform:translateX(-130px);}
		#search input{border:none; border-bottom:2px solid gray; width:800px; height:95px; margin-left:20px;}
		#close_x{position:absolute; top:10px; left:1300px; color:gray;}
		
		
		#layout{width:1320px; margin:auto; margin-top:150px;  margin-bottom:200px;}
		#layout>div{flex-direction:column; padding:0 50px;}
		#detail1{flex:1;}
		section{position:relative; padding-top:50px; flex:1;}
		}
		
		@media(max-width:370px){
		
		#big-logo{display:block; margin-left:440px; }
	
		#icons{transform:translateX(-310px);}
		#search input{border:none; border-bottom:2px solid gray; width:550px; height:95px; margin-left:10px;}
		#close_x{position:absolute; top:10px; left:1000px; color:gray;}
		}
		
		
		@media(max-width:322px){
		
		#big-logo{display:block; margin-left:280px; }
	
		#icons{transform:translateX(-490px);}
		}